@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    margin: 0 auto;
    font-family: ubuntu, sans-serif;
    line-height: 1.5;
    /* padding:1em; */
    box-sizing: border-box;
    text-decoration: none;

}
#header{
    height: 100vh;
}
.navbar{
    position: relative;
    padding-bottom: .5rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px 0 #f44336;
    padding-top: .5625rem;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-item .nav-link:hover {
    color: #222944 !important;
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
}

.fab:hover {
    color: #222944 !important;
    transition: ease 0.3s;
}

#about {
    background: url("../img/about.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
   height: 100vh;
}

#aboutTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
}

#aboutContent {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(196, 28, 28);
}

#profilPicture
{
       width: 25rem;
       height: 25rem;
       border-radius: 50%;
       box-shadow: 0 0 50px #ccc;
}
#profilPicture:hover{
    color: #bbc1d8 !important;
    transition: ease 0.4s;
}
#education
{
     background: url("../img/education.jpg") no-repeat fixed;
     background-size: cover;
     -webkit-background-size: cover;
     -o-background-size: cover;
     -moz-background-size: cover;
   
}
#education .card {
    background: linear-gradient(45deg,
            rgba(5, 206, 206, 0.5),
            rgba(63, 17, 204, 0.5) 100%);
    border-radius: 40px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    width: 17rem;
    height: 14rem;
    margin-bottom: .7rem;
}

#education .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#experience{
     background-color: rgb(190, 200, 224);
     background-size: cover;
     -webkit-background-size: cover;
     -o-background-size: cover;
     -moz-background-size: cover;
     
}

#abilities{
       background-color: rgb(176, 176, 182);
       background-size: cover;
       -webkit-background-size: cover;
       -o-background-size: cover;
       -moz-background-size: cover;
}

